@model SalesWebMVC.Models.DTO.ProductDTO;

@{
    ViewData["Title"] = "Edit";
}


<h2>@ViewData["Title"]</h2>

<h4> Product</h4>
</hr>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DsNome" class="control-label"></label>
                <input asp-for="DsNome" class="form-control" />
            </div>
            </hr>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
            </div>
            </hr>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
