@model SalesWebMVC.Models.DTO.SaleProductDTO

@{
    ViewData["Title"] = "Generate Sale";
}


<h2>@ViewData["Title"]</h2>

<h4> New Sale</h4>
</hr> 

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            </hr>
            <div class="form-group">
                <label asp-for="SalesProductEntity.ProductId" class="control-label"></label>
                <select asp-for="IdProduto" asp-items="@(new SelectList(Model.ProductEntity,"Id", "DsNome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalesProductEntity.SalesRecord.FkSeller" class="control-label"></label>
                <select asp-for="IdCLiente" asp-items="@(new SelectList(Model.SellerEntity,"Id", "DsNome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                @* Identificador do Create com o HttpPost é usar esse input escondido*@
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@* Configurando validações feita por annotations *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}